.section {
  min-height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}

.itemContainer {
  margin: 20px 0;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}
