.container {
  display: flex;
  flex-direction: column;
  padding: 20px 200px;
  min-height: 100vh;
  justify-content: space-between;
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table {
  border-collapse: collapse;
}

.tableHeader :first-child {
  border-radius: 500px 0 0 500px;
}

.tableHeader :last-child {
  border-radius: 0 500px 500px 0;
}

.table th {
  text-align: left;
  font-weight: normal;
  background-color: var(--color-text);
  color: var(--color-background);
  font-size: 1.2rem;
}

.table td,
table th {
  padding: 10px 20px;
}

.bottomContainer {
  display: flex;
}
