.optionContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-section);
  padding: 10px;
  border-radius: 10px;
}

.optionTitle {
  font-size: 1.5rem;
}

.optionSubTitle {
  opacity: 0.5;
}
