* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kiwi Maru", serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

:root {
  --color-window: rgba(0, 0, 0, 0.7); /* 小窓用 */
  --color-wintext: #ffffff; /* 小窓テキスト用 */
  --color-error: #f27979;

  --color-main: #bed28c;
  --color-accent: #ffb7c5;
  --color-sub: #f5f0e1;
  --color-text: #50321e;
  --color-enhanced: #dcb446;
  --color-background: #f5f0e1;
  --color-section: #e8edd9;
  --color-card: #ffffff;

  --shadow-regular: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
